<app-header [selectedMenuOption]="'MEASURES'"></app-header>

<app-filter
  (onApplyFiltersEvent)="applyFilters($event)"
  (onCleanFiltersEvent)="applyFilters($event)"
/>

<main>
  <app-button
    [buttonClass]="'primary-button'"
    [className]="'add-button'"
    [buttonText]="'ADICIONAR MEDIDA'"
    (onClick)="showAddMeasureDialog()"
    [type]="'button'"
  />
  <p id="empty-list-message" *ngIf="!existMeasures()">
    Nenhuma medida foi encontrada.
  </p>
  <ul *ngIf="existMeasures()">
    <li *ngFor="let measure of getMeasures()">
      <div>
        <p>Nome:</p>
        <p>{{ measure.name }}</p>
      </div>
      <div>
        <p>Status:</p>
        <p>{{ measure.isActive ? "Ativo" : "Inativo" }}</p>
      </div>
      <div>
        <app-button
          [buttonText]="'Editar'"
          (onClick)="showUpdateMeasureDialog(measure.id)"
          [type]="'button'"
          [buttonClass]="'blue-button'"
          [disabled]="!measure.isActive"
        />
        <app-button
          [buttonText]="'Inativar'"
          (onClick)="showDeleteMeasureDialog(measure.id)"
          [type]="'button'"
          [buttonClass]="'red-button'"
          [disabled]="!measure.isActive"
        />
      </div>
    </li>
  </ul>
  <div class="paginator-container">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="getPageSize()"
      [totalRecords]="getTotalRecords()"
    ></p-paginator>
  </div>
</main>

<app-add-measure-dialog
  [isDialogVisible]="isModalVisible('ADD')"
  (onDialogVisibilityChange)="closeModal()"
  (onSaveMeasure)="saveMeasure($event)"
/>

<app-update-measure-dialog
  [measureId]="measureId"
  [isDialogVisible]="isModalVisible('UPDATE')"
  (onDialogVisibilityChange)="closeModal()"
  (onUpdateMeasure)="updateMeasure($event)"
  (onFetchMeasureError)="showToast($event)"
/>

<app-inactivate-measure-dialog
  [isDialogVisible]="isModalVisible('DELETE')"
  (onDialogVisibilityChange)="closeModal()"
  (onDeleteConfirmationEvent)="deleteMeasure()"
/>

<p-toast />
