<app-header [selectedMenuOption]="'CUSTOMERS'"></app-header>

<app-filter
  (onApplyFiltersEvent)="applyFilters($event)"
  (onCleanFiltersEvent)="applyFilters($event)"
/>

<main>
  <app-button
    [buttonClass]="'primary-button'"
    [className]="'add-button'"
    [buttonText]="'ADICIONAR CLIENTE'"
    (onClick)="showAddCustomerDialog()"
    [type]="'button'"
  />
  <p id="empty-list-message" *ngIf="!existCustomers()">
    Nenhum cliente foi encontrado.
  </p>
  <ul *ngIf="existCustomers()">
    <li *ngFor="let customer of getCustomers()">
      <div>
        <p>Nome:</p>
        <p>{{ customer.name }}</p>
      </div>
      <div>
        <p>Email:</p>
        <p>{{ customer.email }}</p>
      </div>
      <div>
        <p>Telefone:</p>
        <p *ngIf="customer.phone !== null">
          {{ customer.phone | phoneFormatter }}
        </p>
        <p *ngIf="customer.phone === null">-</p>
      </div>
      <div>
        <p>Status:</p>
        <p>{{ customer.isActive ? "Ativo" : "Inativo" }}</p>
      </div>
      <div>
        <app-button
          [buttonText]="'Editar'"
          (onClick)="showUpdateCustomerDialog(customer.id)"
          [type]="'button'"
          [buttonClass]="'blue-button'"
          [disabled]="!customer.isActive"
        />
        <app-button
          [buttonText]="'Inativar'"
          (onClick)="showDeleteCustomerDialog(customer.id)"
          [type]="'button'"
          [buttonClass]="'red-button'"
          [disabled]="!customer.isActive"
        />
      </div>
    </li>
  </ul>
  <div class="paginator-container">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="getPageSize()"
      [totalRecords]="getTotalRecords()"
    ></p-paginator>
  </div>
</main>

<app-add-customer-dialog
  [isDialogVisible]="isModalVisible('ADD')"
  (onDialogVisibilityChange)="closeModal()"
  (onSaveCustomer)="saveCustomer($event)"
/>

<app-update-customer-dialog
  [customerId]="customerId"
  [isDialogVisible]="isModalVisible('UPDATE')"
  (onDialogVisibilityChange)="closeModal()"
  (onUpdateCustomer)="updateCustomer($event)"
  (onFetchCustomerError)="showToast($event)"
/>

<app-inactivate-customer-dialog
  [isDialogVisible]="isModalVisible('DELETE')"
  (onDialogVisibilityChange)="closeModal()"
  (onDeleteConfirmationEvent)="deleteCustomer()"
/>

<p-toast />
