/* :host ::ng-deep .form-input input,
:host ::ng-deep .p-inputtext,
.form-input input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--input-color-v1);
  outline: none;
  box-shadow: none;
  font-size: 1.3rem;
} */

.form-button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-color: transparent;
  color: var(--primary-salmon);
  border: 1px solid var(--primary-salmon);
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.form-button:disabled {
  cursor: not-allowed;
  border: 1px solid var(--primary-grey);
  color: var(--primary-grey);
}

.form-button:not(:disabled):hover {
  color: var(--white);
  background-color: var(--primary-salmon);
  font-weight: bold;
}

main {
  padding: 20px;
}

main > button {
  width: 190px;
  margin-left: auto;
  padding: 10px;
  background-color: transparent;
  color: var(--primary-salmon);
  border: 1px solid var(--primary-salmon);
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

main > button:hover {
  color: var(--white);
  background-color: var(--primary-salmon);
  font-weight: bold;
}

main #empty-list-message {
  margin-top: 25px;
  color: var(--secondary-grey);
  text-align: center;
  font-style: italic;
}

main ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main ul li {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-card-color-v1);
  border-radius: 10px;
  border-top-width: 1px;
  border-left-width: 1px;
  padding: 14px 16px;
  align-items: center;
  gap: 6px;
}

main ul li div {
  flex: 2;
  display: flex;
  gap: 8px;
  font-weight: 500;
}

main ul li div p:last-child {
  font-weight: 300;
}

main ul li div:last-child {
  flex: 1;
  margin-top: 5px;
  display: flex;
  gap: 12px;
}

button.red-button {
  border: 1px solid var(--primary-red);
  border-radius: 8px;
  background-color: transparent;
  padding: 6px 10px;
  color: var(--primary-red);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

button.blue-button {
  border: 1px solid var(--primary-blue);
  border-radius: 8px;
  background-color: transparent;
  padding: 6px 10px;
  color: var(--primary-blue);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

button.red-button:not(:disabled):hover {
  background-color: var(--primary-red);
  color: var(--white)
}

button.blue-button:not(:disabled):hover {
  background-color: var(--primary-blue);
  color: var(--white);
}

button:disabled {
  cursor: not-allowed;
  border: 1px solid var(--primary-grey);
  color: var(--primary-grey);
}

main .paginator-container {
  margin-top: 22px;
}

:host ::ng-deep .field-checkbox {
  margin-bottom: 0;
}

:host ::ng-deep .p-paginator .p-paginator-pages button {
  font-size: 1.5rem;
}

:host ::ng-deep .p-paginator .p-paginator-icon {
  width: 16px;
  height: 16px;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box {
  width: 18px;
  height: 18px;
}

:host ::ng-deep .p-radiobutton .p-focus {
  box-shadow: none;
}

:host ::ng-deep .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  background-color: var(--primary-salmon);
}

:host ::ng-deep .p-radiobutton-checked .p-radiobutton-box {
  border-color: var(--primary-salmon);
  background-color: var(--primary-salmon);
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--primary-salmon);
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 14px;
  height: 14px;
}

:host ::ng-deep .p-dialog {
  width: 90vw;
  max-width: 420px;
}

:host ::ng-deep .p-dialog .p-dialog-header,
:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 20px !important;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-size: 2rem;
  color: var(--primary-salmon);
}

:host ::ng-deep .p-dialog .p-dialog-content form div label {
  display: block;
  margin-bottom: 5px;
  font-weight: medium;
  font-size: 1.6rem;
}

:host ::ng-deep #delete-dialog .p-dialog-content p {
  font-weight: medium;
  font-size: 1.6rem;
}

:host ::ng-deep #delete-dialog .p-dialog-content div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

:host ::ng-deep #delete-dialog .p-dialog-content div button {
  width: fit-content;
  padding: 10px 16px;
  margin: 0;
}

:host ::ng-deep .p-toast .p-toast-message-content .p-toast-message-icon {
  margin-left: 6px;
}

:host ::ng-deep .p-toast .p-toast-message-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 0;
}

:host ::ng-deep .p-toast .p-toast-message-content .p-toast-message-text .p-toast-summary {
  font-size: 1.45rem;
}

:host ::ng-deep .p-toast .p-toast-message-content .p-toast-message-text .p-toast-detail {
  font-size: 1.3rem;
}

:host ::ng-deep .p-toast .p-toast-message-content .p-toast-icon-close {
  align-self: flex-start;
  margin-top: 2px;
  margin-right: 8px;
}

:host ::ng-deep .p-toast .p-toast-message-content .p-toast-icon-close svg {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 570px) {

  main {
    margin-left: 250px;
    padding: 40px 30px;
  }

  :host ::ng-deep .p-dialog .p-dialog-content {
    padding: 26px !important;
  }
}

@media screen and (min-width: 900px) {

  main ul li {
    flex-direction: row;
    gap: 10px;
  }

  main ul li div:not(:last-child) {
    flex-direction: column;
    gap: 0;
  }

  main ul li div:last-child {
    justify-content: end;
  }


}
