<app-header [selectedMenuOption]="'CUSTOMERS'"></app-header>

<app-filter
  (onApplyFiltersEvent)="applyFilters($event)"
  (onCleanFiltersEvent)="applyFilters($event)"
/>

<main>
  <button type="button" (click)="showAddCustomerDialog()">
    ADICIONAR CLIENTE
  </button>
  <p id="empty-list-message" *ngIf="!existCustomers()">
    Nenhum cliente foi encontrado.
  </p>
  <ul *ngIf="existCustomers()">
    <li *ngFor="let customer of getCustomers()">
      <div>
        <p>Nome:</p>
        <p>{{ customer.name }}</p>
      </div>
      <div>
        <p>Email:</p>
        <p>{{ customer.email }}</p>
      </div>
      <div>
        <p>Telefone:</p>
        <p *ngIf="customer.phone !== null">
          {{ customer.phone | phoneFormatter }}
        </p>
        <p *ngIf="customer.phone === null">-</p>
      </div>
      <div>
        <p>Status:</p>
        <p>{{ customer.isActive ? "Ativo" : "Inativo" }}</p>
      </div>
      <div>
        <button
          [disabled]="!customer.isActive"
          type="button"
          class="blue-button"
          (click)="showUpdateCustomerDialog(customer.id)"
        >
          Editar
        </button>
        <button
          [disabled]="!customer.isActive"
          type="button"
          class="red-button"
          (click)="showDeleteCustomerDialog(customer.id)"
        >
          Inativar
        </button>
      </div>
    </li>
  </ul>
  <div class="paginator-container">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="getPageSize()"
      [totalRecords]="getTotalRecords()"
    ></p-paginator>
  </div>
</main>

<p-dialog
  header="Novo Cliente"
  [visible]="isModalVisible('ADD')"
  (visibleChange)="closeModal()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <form class="flex flex-column gap-3" [formGroup]="addFormGroup">
    <app-input
      [inputId]="'new-customer-dialog-name'"
      [inputType]="'text'"
      [inputFormControlName]="'name'"
      [formGroup]="addFormGroup"
      [inputLabel]="'Nome'"
    />
    <app-input
      [inputId]="'new-customer-dialog-email'"
      [inputType]="'text'"
      [inputFormControlName]="'email'"
      [formGroup]="addFormGroup"
      [inputLabel]="'Email'"
    />
    <div>
      <label for="phone">Telefone</label>
      <p-inputMask
        mask="(99) 9 9999-9999"
        formControlName="phone"
        [autoClear]="false"
      ></p-inputMask>
    </div>
    <button
      class="form-button"
      (click)="saveCustomer()"
      type="submit"
      [disabled]="addFormGroup.invalid"
    >
      Salvar
    </button>
  </form>
</p-dialog>

<p-dialog
  header="Editar Cliente"
  [visible]="isModalVisible('UPDATE')"
  (visibleChange)="closeModal()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <form class="flex flex-column gap-3" [formGroup]="updateFormGroup">
    <div class="form-input">
      <label for="name">Nome</label>
      <input type="text" formControlName="name" />
    </div>
    <div>
      <label for="phone">Telefone</label>
      <p-inputMask
        mask="(99) 9 9999-9999"
        formControlName="phone"
        [autoClear]="false"
      ></p-inputMask>
    </div>
    <button
      class="form-button"
      (click)="updateCustomer()"
      type="submit"
      [disabled]="updateFormGroup.invalid"
    >
      Salvar
    </button>
  </form>
</p-dialog>

<p-dialog
  id="delete-dialog"
  header="Deletar Cliente"
  [visible]="isModalVisible('DELETE')"
  (visibleChange)="closeModal()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <p>Você realmente deseja inativar este cliente?</p>
  <div>
    <button class="blue-button" (click)="closeModal()" type="button">
      Não
    </button>
    <button
      class="red-button"
      (click)="notifyDeleteConfirmation()"
      type="button"
    >
      Sim
    </button>
  </div>
</p-dialog>

<p-toast></p-toast>
