aside {
  height: 100%;
  width: 100%;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

aside form {
  position: relative;
  margin-bottom: 20px;
}

aside form > label,
aside form :not(div.field-checkbox) label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

aside #clean-filter {
  border: none;
  background-color: transparent;
  font-weight: 500;
  color: var(--secondary-grey);
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 1.5rem;
}

aside #clean-filter:hover {
  color: var(--primary-salmon);
}

:host ::ng-deep .form-input input,
:host ::ng-deep .p-inputtext,
.form-input input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--input-color-v1);
  outline: none;
  box-shadow: none;
  font-size: 1.3rem;
}

.filter-form-button {
  width: 100px;
  margin: 0 auto;
}

:host ::ng-deep .field-checkbox {
  margin-bottom: 0;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box {
  width: 18px;
  height: 18px;
}

:host ::ng-deep .p-radiobutton .p-focus {
  box-shadow: none;
}

:host ::ng-deep .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  background-color: var(--primary-salmon);
}

:host ::ng-deep .p-radiobutton-checked .p-radiobutton-box {
  border-color: var(--primary-salmon);
  background-color: var(--primary-salmon);
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--primary-salmon);
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 570px) {

  aside {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 100px 30px;
  }
}
