@import "primeicons/primeicons.css";

:root {
  --primary-salmon: #F37D7D;
  --white: #FFF;
  --text-color-v1: #f7f9f9c4;
  --input-color-v1: #F1F1F1;
  --border-card-color-v1: #dfdfdf;
  --primary-blue: #2E78AE;
  --primary-red: #CD0505;
  --primary-grey: #C3C3C3;
  --secondary-grey: #888888;
  --scrollbar-color: #ececec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
}
