@import "primeicons/primeicons.css";

:root {
  --primary-salmon: #F37D7D;
  --white: #FFF;
  --text-color-v1: #f7f9f9c4;
  --input-color-v1: #F1F1F1;
  --border-card-color-v1: #dfdfdf;
  --primary-blue: #2E78AE;
  --primary-red: #CD0505;
  --primary-grey: #C3C3C3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
}
