<app-header [selectedMenuOption]="'ADJUSTS'"></app-header>

<app-filter
  (onApplyFiltersEvent)="applyFilters($event)"
  (onCleanFiltersEvent)="applyFilters($event)"
/>

<main>
  <app-button
    [buttonClass]="'primary-button'"
    [className]="'add-button'"
    [buttonText]="'ADICIONAR AJUSTE'"
    (onClick)="showAddAdjustDialog()"
    [type]="'button'"
  />
  <p id="empty-list-message" *ngIf="!existAdjusts()">
    Nenhum ajuste foi encontrado.
  </p>
  <ul *ngIf="existAdjusts()">
    <li *ngFor="let adjust of getAdjusts()">
      <div>
        <p>Nome:</p>
        <p>{{ adjust.name }}</p>
      </div>
      <div>
        <p>Custo:</p>
        <p *ngIf="adjust.cost !== null">
          {{ adjust.cost | currency : "BRL" : "symbol" : "1.2-2" }}
        </p>
      </div>
      <div>
        <p>Status:</p>
        <p>{{ adjust.isActive ? "Ativo" : "Inativo" }}</p>
      </div>
      <div>
        <app-button
          [buttonText]="'Editar'"
          (onClick)="showUpdateAdjustDialog(adjust.id)"
          [type]="'button'"
          [buttonClass]="'blue-button'"
          [disabled]="!adjust.isActive"
        />
        <app-button
          [buttonText]="'Inativar'"
          (onClick)="showDeleteAdjustDialog(adjust.id)"
          [type]="'button'"
          [buttonClass]="'red-button'"
          [disabled]="!adjust.isActive"
        />
      </div>
    </li>
  </ul>
  <div class="paginator-container">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="getPageSize()"
      [totalRecords]="getTotalRecords()"
    ></p-paginator>
  </div>
</main>

<app-add-adjust-dialog
  [isDialogVisible]="isModalVisible('ADD')"
  (onDialogVisibilityChange)="closeModal()"
  (onSaveAdjust)="saveAdjust($event)"
/>

<app-update-adjust-dialog
  [adjustId]="adjustId"
  [isDialogVisible]="isModalVisible('UPDATE')"
  (onDialogVisibilityChange)="closeModal()"
  (onUpdateAdjust)="updateAdjust($event)"
  (onFetchAdjustError)="showToast($event)"
/>

<app-inactivate-adjust-dialog
  [isDialogVisible]="isModalVisible('DELETE')"
  (onDialogVisibilityChange)="closeModal()"
  (onDeleteConfirmationEvent)="deleteAdjust()"
/>

<p-toast />
